{% extends 'base.html.twig' %}

{% block title %}PaddleRE Timeline{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> PaddleRE Web Interface</h1>
            </div>
            <div id="form">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{  form_end(form) }}

            </div>

            <div id="timeline" style="height: 2048px;"></div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load("current", {packages:['corechart','timeline'], language: 'it'});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Day' });
            dataTable.addColumn({ type: 'string', id: 'Comment' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows([
                {% for event in events %}

                                    ['{{ event.inizio|date("D d/m/Y") }}', '{{ event.tipo }}', new Date('2000-01-01T{{ event.inizio|date("H:i:sO") }}'), new Date('2000-01-01T{{ event.fine|date("H:i:sO") }}')]{%  if not loop.last %},

                {#
                ['{{ event.campo }}', '{{ event.campo }}', new Date('{{ event.inizio|date("c") }}'), new Date('{{ event.fine|date("c") }}')]{%  if not loop.last %},
                #}
{% endif %}
                {% endfor %}
            ]);

            var options = {
                //'title':'How Much Pizza I Ate Last Night',
                //'height':1000,
                //timeline: { singleColor: 'cyan' },
                avoidOverlappingGridLines: true,
                //colors: [ 'white','green', 'red']
            };

            chart.draw(dataTable,options);
        }
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
